/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bg-dark.navbar {
  background-color: #040404!important;
}
.profiler-results {
  display: none;
}

header {
  display: flex;
  background-color: black;
}

header div:first-child {
  margin-right: auto;
}

header div:last-child {
  margin-right: 30px;
}

header div {
  margin-left: 30px;
  line-height: 30px;
}

a:hover {
  text-decoration: none;
  font-size: larger;
}

#logo {
  width: 60px;
  height: 60px;
  position: relative;
  left: -50%;
}

.d-flex .form-control {
  background-color: #252525;
  border: 1px solid #666;
  color: #FFFFFF;
}
.d-flex .form-control:focus {
  background-color: #626262; /* クリック時の背景色 */
  color: #ffffff; /* クリック時のテキストカラー */
}
.d-flex .form-control::placeholder {
  color: #ccc;
}

@import "bootstrap";
@import "font-awesome";
